<script lang="ts">
	import Canvas from './Canvas.svelte';
	import SolarPanel from './SolarPanel.svelte';
	import Trapeziod from './Trapeziod.svelte';

	let solarObj;	


	export let slopeLength:number=100;
	export let width:number=200;
	export let ridgeLeft:number=400;
	export let ridgeRight:number=500;



</script>




<Canvas height="800" width="800">
	<SolarPanel  bind:this={solarObj}></SolarPanel>
<Trapeziod ridgeLeft={ridgeLeft} ridgeRight={ridgeRight} slopeLength={slopeLength} width={width} ></Trapeziod>

	
</Canvas>
<div>
Slope length
<input type="number"  bind:value={slopeLength} />

width
<input type="number"  bind:value={width}/>


Ridge left Indent
<input type="number" bind:value={ridgeLeft} />


Ridge Right Indent
<input type="number" bind:value={ridgeRight} />
<input type="button" value="Add Solar Panel" on:click={solarObj.AddSolarPanel}>
</div>
<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>